
/*  
Notice: These are used for all webpages.
        Take caution when tampering.
*/

/* Genertic Use */
.pading-margin-0 {
    padding: 0;
    margin: 0;
}

.centerify {
    justify-content: center;
    text-align: center;
}

/* The navigation Bar */
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: azure;
    border: solid black 2px;
    padding: 5px;
    border-left: none;
    border-right: none;
    position: sticky;
    top: 0;
}
nav button{
    display: none;
    width: 100%;
}
.homepageicon{
    height: 12px; 
    width: 12px; 
    padding: 0;
    margin: 0;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
}
nav ul li {
    border: solid black 2px;
    background-color: white;
    padding: 2px;
}

/* The Footer */
footer {
    border: solid black 2px;
    background-color: lightgray;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

/*Website sizing checks*/
@media (min-width: 501px) {
    
}
@media (max-width: 500px){
    nav {
        display: block;
        top: -160px;
        padding: 10px;
    }
    nav ul {
        display: unset;
    }
    nav button {
        display: block;
        flex: 100%;
        position: sticky;
        top: 0;
    }
}