* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
} /*Copied because it was convinient.*/


/******************* Type Selector *******************/
body{
    background-color: seashell;
}
div{
    padding: 10px;
}
h2, h3 {
    color: white;
    border: 5px solid rgb(69, 69, 69);
    background-color: slategrey;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2em;
    max-width: fit-content;
}
ul, ol {
    background-color: azure;
    border: 3px solid black;
}
li {
    width: auto;
    border: 1px solid gray;
}
table {
    border: 3px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid gray;
    padding: 5px;
}
th {
    font-size: 20px;
    background-color: azure;
}
td{
    font-size: 16px;
    background-color: beige;
}
form{
    background-color: white;
    border: 4px solid black;
    padding: 20px;
}
/*****************************************************/

/****************** Class Selector *******************/
.TransitionHover-Button{
    background-color: black;
    color: azure;
    height: 50px;
    width: 20%;
    transition: background-color 5s ease-in, color 5s linear, width 5s ease;
}
.TransitionHover-Button:hover{
    background-color: white;
    color:black;
    width: 40%;
}
.ImageFilter{
    filter: invert(100%) blur(20px);
    transition: filter 0.3s linear;
}
.ImageFilter:hover{
    filter: invert(0%) blur(0px);
}

.AnimationBox{
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: red;
    position: relative;
    animation: shake 10ms linear infinite alternate;
}

.Psuedo-List li:nth-child(odd) {
    background-color: white;
}
.Psuedo-List li:nth-child(even) {
    background-color: lightgray;
}

.Psuedo-Table tr:nth-child(odd) td{
    background-color: lightgray;
}
.Psuedo-Table tr:nth-child(even) td{
    background-color: white;
}

.quote {
        padding-left: 20px;
        font-style: italic;
      }
      
      .quote::before {
        font-style: normal;
        content: '- “';
        font-weight: 900;
        color: darkslategray;
      }
      .quote::after {
        font-style: normal;
        content: '”';
        font-weight: 900;
        color: darkslategray;
      }
/*****************************************************/

/**************** Animation keyfarmes ****************/
@keyframes shake {
    from {
        left: -2px;
    } to {
        left: 2px;
    }
}