* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
} /*Copied because it was convi
nient.*/

body{
    background-color: seashell;
}

div {
    padding: 10px;
}

ul, ol {
    background-color: azure;
    border: 3px solid black;
}

li {
    width: auto;
    border: 1px solid gray;
}


table {
    border: 3px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid gray;
    padding: 5px;
}
th {
    font-size: 20px;
    background-color: azure;
}
td{
    font-size: 16px;
    background-color: beige;
}
form{
    background-color: white;
    border: 4px solid black;
    padding: 20px;
}